* {
    background-color: #3B3937;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

ul{
    color:rgba(15, 12, 12, 0.63)
}

a{
    font-family: monospace;
}